.home {
  .site-branding {
    .site-title {
      a {
        color: #f5f5f5;
        text-decoration: none;
      }
    }
  }
}

.home {
  &.logged-out {
    #masthead {
      #user-class-nav {
        display: none;
      }
      margin-bottom: 0;
      .site-branding {
        .site-title {
          text-align: center;
        }
      }
    }
    #front-page {
      padding: 1.818em 0;
    }
  }
}

#front-page {
  background-color: transparent;
  padding: 2.618em 0;
  margin-bottom: 3.618em;

  h1 {
    color: #f5f5f5;
  }
}

#front-page-post-grid {
  margin: 2.618em auto;

  h4 {
    color: #000000;

    a {
      text-decoration: none;
      color: #000000;
    }
  }

  .card {
    margin: 3px;
    padding: 1em;
  }
}

#front-page-announcement-grid {
  margin: 2.618em auto;

  h4 {
    color: #000000;

    a {
      text-decoration: none;
      color: #000000;
    }
  }

  .card {
    margin: 3px;
    padding: 1em;
  }
}

.login-logo {
  display: block;
  margin: 0 auto .9em auto;
}

#loginform {
  input[type=submit] {
    border: 1px solid;
    border-color: #EE1977;
    border-radius: 3px;
    background: #EE1977;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1;
    padding: 0.44em 1em 0.44em;
    &:hover {
      background-color: #6DCB5B;
      border-color: #6DCB5B;
    }
  }
}

