#class-nav {
  .main-navigation {
    justify-content: center;
  }

  .well {
    padding: 4em 1em 0 1em;
  }

}

.main-navigation {
  li {
    margin: 0 1em;
  }
  .log-out {
    margin-left: 1em;
  }
}

#user-class-nav {
  margin-top: 3.618em;
  .main-navigation {
    justify-content: center;
  }

  .well {
    padding: 2em 1em 0 1em;

    #site-navigation ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        margin: 3px 3px;
        text-align: center;
        width: 120px;
        height: 100px;
        &:hover {
          border: #000 .9px solid;
          background-color: #eee;
        }

        a {
          padding: 3px;
          color: #000;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

.home {
  header#masthead {
    nav#site-navigation {
      .log-out {
        color: #f5f5f5;
        &:hover {
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 2px;
        }
      }
    }
    #primary-menu {
      li:nth-child(1) {
        margin-left: 0 !important;
      }

      li {
        &.current-menu-item a {
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 2px;
        }
        a {
          color: #f5f5f5;
        }
        a:hover {
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 2px;
        }
      }
    }
  }
}

.single {
  header#masthead {
    nav#site-navigation {
      .log-out {
        color: #f5f5f5;
        &:hover {
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 2px;
        }
      }
    }
    #primary-menu {
      li:nth-child(1) {
        margin-left: 0 !important;
      }

      li {
        &.current-menu-item a {
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 2px;
        }
        a {
          color: #f5f5f5;
        }
        a:hover {
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 2px;
        }
      }
    }
  }
}

.navigation {
  &.post-navigation {
    margin: 3.618em auto;
  }
}
